@import "tailwindcss";

@theme {
  @keyframes slide {
    0%{
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
  
.animate-slide {
    animation: slide 15s linear infinite;
}
.animate-slide2 {
    animation: slide 15s linear infinite reverse;
}
.typewriter h4 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

  .gojo {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: fixed;
    top: 90%;
    left: 95%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-out;
}

.scroll-watcher {
    height: 100px;
    position: fixed;
    top: 100;
    z-index: 1000;
    background-color: blue;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    animation: scroll-watcher linear;
    -webkit-animation-timeline: scroll();
       -moz-animation-timeline: scroll();
        -ms-animation-timeline: scroll();
         -o-animation-timeline: scroll();
            animation-timeline: scroll();
}
@keyframes scroll-watcher {
    to {transform: scale(0, 1);}   
}



/* below is from before this project 

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: #fff;

}
#header{
    width: 100%;
    height: 100vh;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;

}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.animated-element {
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-out;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00ff77;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

#about {
    padding: 80px 0;
    color: #ababab;
}

*/

